html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen {
        background-color: rgb(50, 50, 50);
    }

    @media print {
        background-color: white;
    }
}

* {
    box-sizing: inherit;
    color-adjust: exact !important;
}

div {
    margin: 0;
    padding: 0;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.document {
    margin-top: 10px;
    background-color: white;
    min-width: min(210mm, 100vw);
    min-height: 100vh;
    padding: 10mm;
}

span.keywordprimary {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.423);
    font-size: 1.05em;
}

span.keywordsecondary {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.96em;
}